<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>목록</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
                <th scope="col">추천</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td>
                    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}">
                    </a>
                </td>
                <td th:text="${board.boardWriter}"></td>
                <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${board.viewCount}"></td>
                <td th:text="${board.likeCount}"></td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="/board" role="button">글쓰기</a>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:href="@{|/boards?page=1${#strings.isEmpty(keyword) ? '' : '&keyword=' + keyword + '&searchBy=' + searchBy}|}" aria-label="Start">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!existPrevPage} ? 'disabled'">
                    <a class="page-link" th:href="@{|/boards?page=${startPage - 1}${#strings.isEmpty(keyword) ? '' : '&keyword=' + keyword + '&searchBy=' + searchBy}|}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(startPage, lastPage)}" th:classappend="${currentPage == page} ? 'active'">
                    <a class="page-link" th:href="@{|/boards?page=${page}${#strings.isEmpty(keyword) ? '' : '&keyword=' + keyword + '&searchBy=' + searchBy}|}" th:text="${page}"></a>
                </li>
                <li class="page-item" th:classappend="${!existNextPage} ? 'disabled'">
                    <a class="page-link" th:href="@{|/boards?page=${lastPage + 1}${#strings.isEmpty(keyword) ? '' : '&keyword=' + keyword + '&searchBy=' + searchBy}|}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{|/boards?page=${totalPageCount}${#strings.isEmpty(keyword) ? '' : '&keyword=' + keyword + '&searchBy=' + searchBy}|}" aria-label="End">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>