<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">로그인</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">회원가입</a></li>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/posts"
               class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">스프링 MVC 게시판</span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search" action="/search" method="get">
                <input type="search" class="form-control" aria-label="Search" name="keyword">
            </form>
        </div>
    </header>
</div>
</body>
</html>