<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>게시글 상세 보기</title>
    <th:block layout:fragment="add-script">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container" th:object="${postForm}">
        <h1 class="display-6 border-bottom mb-3" th:text="*{title}"></h1>
        <p class="border-bottom mb-3" th:text="*{content}"></p>
        <div th:if="*{fileAttached == 1}" th:each="fileName: *{storedFileName}">
            <img th:src="@{|/upload/${fileName}|}" class="img-fluid" alt="...">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" th:href="@{/post/{id}/edit(id=*{id})}" role="button">수정</a>
            <a class="btn btn-primary" th:href="@{/{id}(id=*{id})}" role="button">삭제</a>
            <a class="btn btn-primary" th:href="@{/posts}" role="button">목록</a>
        </div>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">댓글</h5>
            <div class="card-body">
                <form th:action="@{/board/{id}/comment(id=*{id})}" th:method="post">
                    <div class="form-group" style="margin-bottom: 10px;">
                        <input type="hidden" th:field="*{id}"/>
                        <textarea name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">작성</button>
                </form>
            </div>
        </div>

        <!--         Display Comments-->
        <div class="card my-4" th:if="${comments.size()} != 0">
            <h5 class="card-header">Comments:</h5>
            <div class="card-body">
                <div th:each="comment : ${comments}">
                    <div class="media mb-4">
                        <div class="media-body">
                            <p th:text="${comment.getContent()}">Comment content</p>
                            <a th:href="@{/board/{id}/comment/{commentId}/remove(id=*{id}, commentId=${comment.id})}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Delete this comment?')">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="comment-write">

        </div>
        <div class="container" id="comment-list">

        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</body>
</html>