<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>글쓰기</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <form action="/post" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">파일 선택</label>
                <input class="form-control" type="file" id="formFile" name="formFile" multiple>
            </div>
            <button type="submit" class="btn btn-primary">완료</button>
        </form>
    </div>
</div>
</body>
</html>